footer {
  text-align: center;
  padding: 3;
  background-color: rgb(93, 113, 28);
  color: rgb(169, 188, 109);
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}
p { 
  text-decoration: none;
  color: rgb(169, 188, 109);;
}