label.under-text {
    margin: 5px;
    padding: 5px;
    font-weight: none;
}

p.under-text  {
    margin: 5px;
    padding: 5px;
}

label.label {
    font-size: 18px;
    width: 50%;
    color: #000;
    font-weight: bold;
    justify-content: left;
}

p.error {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: inherit;
    border: none;
}

p.success {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

form.forms {
    width: 40%;
    border: 2px solid rgb(93, 113, 28);
    padding: 5px;
    background: #fff;
    border-radius: 15px;
}

div.errorMsg {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 60px;
    border: 2px solid #ff0000;
    background: #ff8888;
    border-radius: 15px;
}

div.succMsg {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 60px;
    border: 2px solid green;
    background: greenyellow;
    border-radius: 15px;
    padding: 10px;

}


* {
    font-family: tahoma;
}

input.auth-form {
    width: 60%;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 3px solid #000;
    padding: 20px;
    border-radius: 15px;
}

button.auth-form {
    width: 60%;
    height: 40px;
    border: 0px solid #fff;
    background-color: rgb(93, 113, 28);
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 10px;
}