.App {
  text-align: center;
}


body {
  background-color: rgb(169, 188, 109);
}

h1 {
  color: rgb(93, 113, 28);
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media all and (min-width: 300px) {
    
  .body form {
      margin: 25px auto;
      padding: 10px;
  }

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  font-family: sans-serif;
  box-sizing: border-box;
}

form{
  width: 500px;
  border: 2px solid #ccc;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
}

li {
  float: left;
}

li a {
  padding: 23.7px;
  text-decoration: none;
  color:#000;
}

li a.active {
  background-color: steelblue;
  color: white;
  padding: 2px 25px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

label {
  color: #888;
  padding: 10px;
}

#submit {
  float: right;
  background: #555;
  padding: 5px 5px;
  color:#fff;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
}

#submit:hover{
  opacity: .7;
}

.position{
  text-align:center;
  vertical-align:middle;
}
p {
  color: red;
}
